.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.sort-container {
  margin: 20px 0;
  font-weight: bold;
}

.sort-container select {
  padding: 5px 10px;
  border-radius: 5px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
  align-items: center;
}

.filters-container select,
.filters-container input {
  padding: 6px;
  border-radius: 4px;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters select {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
}

.card {
  background-color: #202329; 
  color: #f5f5f5;            
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.5);
  width: 220px;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.character-image {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 2px solid #61dafb; 
}

.character-info {
  padding: 15px;
}

.character-name {
  margin: 0 0 10px 0;
  font-size: 1.3rem;
  color: #61dafb; 
}


.status {
  font-weight: bold;
}

.status.alive {
  color: #55cc44; 
}

.status.dead {
  color: #d63d2e; 
}

.status.unknown {
  color: #9e9e9e; 
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #2b2f38;
  color: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #61dafb;
  cursor: pointer;
  font-weight: bold;
}
